<!doctype html>
<html ng-app="myApp" >
    <head>
		<meta charset="utf-8" >

   		<link rel= 'stylesheet/less' type="test/css" href="css/index.min.css"/>
    
     	
		
		<!--
		<script src="js/vendor/require.js"></script>
		-->
		
		<script src="js/index.js"></script>
		
		
    </head>
	
    <body >
		
		<div class="container" ng-controller="MyController">
			<div class="invite">
				
			<input type="search" placeholder="搜寻你想邀请的人" class="search"/>
			<label class="text" ng-show="invitees.length != 0">你已经邀请了
				<span ng-repeat="invitee in invitees" >
					<a  href="{{invitee.slug}}" class="invitee"> {{invitee.name}}</a>
				</span>等<span class="invitee">{{invitees.length}}</span>人回答问题!
			</label>
			</div>
			<div class="recommend">
				<label><h2>推荐人选</h2></label>
			<ul>
				<li ng-repeat="program in programs" ng-if="{{program.id != -1}}" class="person" >
					<a class="slug" href="{{program.slug}}"><img class="img" ng-if="{{program.avatarUrl != null}}" src="{{program.avatarUrl}}"/></a> 
					
					<div class= "content" >
						
						<a class="name" href="{{program.slug}}">{{program.name}}</a>
						
						<!-- 
						<button class="stopButton" ng-click="invitee.getInvite(program)" ng-show="!program.current">program.current</button>
						<button class="playButton" ng-click="invitee.cancleInvite(program)" ng-show="program.current">cancle</button>
						-->
						<button class="button" ng-click="invitee.doInvite(program)">
							<span ng-show="program.current" class="cancle">取消邀请</span>
							<span ng-show="!program.current" class="invite">邀请回答</span>
						</button>
						
						<div class="bio" >{{program.bio}}</div>
					</div>
				</li>
			</ul>
			<div class="clear"></div>
				
			</div>
			
		</div>
		
    </body>
</html>