body {
  width: 90%;
  font-family: "微软雅黑";
}
ul,
ol {
  list-style-type: none;
}
ul,
ol li {
  padding: 0px  0px;
  margin: 0px 0px;
}
a {
  text-decoration: none;
}
.container {
  width: 100%;
  margin: 10px 10px;
  padding: 10px 10px;
  border: 1px solid #999;
  border-radius: 15px;
  -moz-border-radius: 25px;
  /* Old Firefox */
}
.container .invite .search {
  border-radius: 5px;
  padding: 10px 10px;
  border: 1px solid #aaa;
}
.container .invite .text {
  margin: 6px 10px;
  font-size: 16px;
  font-weight: 300;
  color: #888888;
}
.container .invite .text .invitee {
  font-size: 16px;
  font-weight: 300;
  color: #225599;
}
.container .recommend .person {
  float: left;
  width: 50%;
  padding: 10px 0px;
}
.container .recommend .person .slug {
  position: relative;
  top: 0px;
  width: 36px;
}
.container .recommend .person .slug .img {
  border-radius: 3px;
}
.container .recommend .person .content {
  position: relative;
  top: -42px;
  margin-left: 54px;
  padding-right: 30px;
}
.container .recommend .person .content .name {
  position: relative;
  font-size: 16px;
  font-weight: 300;
  color: #225599;
}
.container .recommend .person .content .button {
  float: right;
  border: none;
  background: none;
  cursor: pointer;
}
.container .recommend .person .content .button .cancle {
  font-size: 12px;
  font-weight: 800;
  color: #ffffff;
  display: block;
  width: 100%;
  padding: 0px 2px;
  background: #222;
  border: 1px solid #FFF;
  border-radius: 3px;
  line-height: 22px;
}
.container .recommend .person .content .button .invite {
  font-size: 12px;
  font-weight: 800;
  color: #ffffff;
  display: block;
  width: 100%;
  padding: 0px 2px;
  border: 1px solid #FFF;
  border-radius: 3px;
  line-height: 22px;
  background: #259;
}
.container .recommend .person .content .bio {
  position: relative;
  margin: 5px 0px;
  font-size: 16px;
  font-weight: 300;
  color: #333333;
}
.container .clear {
  clear: both;
}

body{width:90%;font-family:"微软雅黑"}ol,ul{list-style-type:none}ol li,ul{padding:0;margin:0}a{text-decoration:none}.container{width:100%;margin:10px;padding:10px;border:1px solid #999;border-radius:15px;-moz-border-radius:25px}.container .invite .search{border-radius:5px;padding:10px;border:1px solid #aaa}.container .invite .text{margin:6px 10px;font-size:16px;font-weight:300;color:#888}.container .invite .text .invitee{font-size:16px;font-weight:300;color:#259}.container .recommend .person{float:left;width:50%;padding:10px 0}.container .recommend .person .slug{position:relative;top:0;width:36px}.container .recommend .person .slug .img{border-radius:3px}.container .recommend .person .content{position:relative;top:-42px;margin-left:54px;padding-right:30px}.container .recommend .person .content .name{position:relative;font-size:16px;font-weight:300;color:#259}.container .recommend .person .content .button{float:right;border:none;background:0 0;cursor:pointer}.container .recommend .person .content .button .cancle{font-size:12px;font-weight:800;color:#fff;display:block;width:100%;padding:0 2px;background:#222;border:1px solid #FFF;border-radius:3px;line-height:22px}.container .recommend .person .content .button .invite{font-size:12px;font-weight:800;color:#fff;display:block;width:100%;padding:0 2px;border:1px solid #FFF;border-radius:3px;line-height:22px;background:#259}.container .recommend .person .content .bio{position:relative;margin:5px 0;font-size:16px;font-weight:300;color:#333}.container .clear{clear:both}
body {
  width: 90%;
  font-family: "微软雅黑";
}
ul,
ol {
  list-style-type: none;
}
ul,
ol li {
  padding: 0px  0px;
  margin: 0px 0px;
}
a {
  text-decoration: none;
}
.container {
  width: 100%;
  margin: 10px 10px;
  padding: 10px 10px;
  border: 1px solid #999;
  border-radius: 15px;
  -moz-border-radius: 25px;
  /* Old Firefox */
}
.container .invite .search {
  border-radius: 5px;
  padding: 10px 10px;
  border: 1px solid #aaa;
}
.container .invite .text {
  margin: 6px 10px;
  font-size: 16px;
  font-weight: 300;
  color: #888888;
}
.container .invite .text .invitee {
  font-size: 16px;
  font-weight: 300;
  color: #225599;
}
.container .recommend .person {
  float: left;
  width: 50%;
  padding: 10px 0px;
}
.container .recommend .person .slug {
  position: relative;
  top: 0px;
  width: 36px;
}
.container .recommend .person .slug .img {
  border-radius: 3px;
}
.container .recommend .person .content {
  position: relative;
  top: -42px;
  margin-left: 54px;
  padding-right: 30px;
}
.container .recommend .person .content .name {
  position: relative;
  font-size: 16px;
  font-weight: 300;
  color: #225599;
}
.container .recommend .person .content .button {
  float: right;
  border: none;
  background: none;
  cursor: pointer;
}
.container .recommend .person .content .button .cancle {
  font-size: 12px;
  font-weight: 800;
  color: #ffffff;
  display: block;
  width: 100%;
  padding: 0px 2px;
  background: #222;
  border: 1px solid #FFF;
  border-radius: 3px;
  line-height: 22px;
}
.container .recommend .person .content .button .invite {
  font-size: 12px;
  font-weight: 800;
  color: #ffffff;
  display: block;
  width: 100%;
  padding: 0px 2px;
  border: 1px solid #FFF;
  border-radius: 3px;
  line-height: 22px;
  background: #259;
}
.container .recommend .person .content .bio {
  position: relative;
  margin: 5px 0px;
  font-size: 16px;
  font-weight: 300;
  color: #333333;
}
.container .clear {
  clear: both;
}

body{width:90%;font-family:"微软雅黑"}ol,ul{list-style-type:none}ol li,ul{padding:0;margin:0}a{text-decoration:none}.container{width:100%;margin:10px;padding:10px;border:1px solid #999;border-radius:15px;-moz-border-radius:25px}.container .invite .search{border-radius:5px;padding:10px;border:1px solid #aaa}.container .invite .text{margin:6px 10px;font-size:16px;font-weight:300;color:#888}.container .invite .text .invitee{font-size:16px;font-weight:300;color:#259}.container .recommend .person{float:left;width:50%;padding:10px 0}.container .recommend .person .slug{position:relative;top:0;width:36px}.container .recommend .person .slug .img{border-radius:3px}.container .recommend .person .content{position:relative;top:-42px;margin-left:54px;padding-right:30px}.container .recommend .person .content .name{position:relative;font-size:16px;font-weight:300;color:#259}.container .recommend .person .content .button{float:right;border:none;background:0 0;cursor:pointer}.container .recommend .person .content .button .cancle{font-size:12px;font-weight:800;color:#fff;display:block;width:100%;padding:0 2px;background:#222;border:1px solid #FFF;border-radius:3px;line-height:22px}.container .recommend .person .content .button .invite{font-size:12px;font-weight:800;color:#fff;display:block;width:100%;padding:0 2px;border:1px solid #FFF;border-radius:3px;line-height:22px;background:#259}.container .recommend .person .content .bio{position:relative;margin:5px 0;font-size:16px;font-weight:300;color:#333}.container .clear{clear:both}
body {
  width: 90%;
  font-family: "微软雅黑";
}
ul,
ol {
  list-style-type: none;
}
ul,
ol li {
  padding: 0px  0px;
  margin: 0px 0px;
}
a {
  text-decoration: none;
}
.container {
  width: 100%;
  margin: 10px 10px;
  padding: 10px 10px;
  border: 1px solid #999;
  border-radius: 15px;
  -moz-border-radius: 25px;
  /* Old Firefox */
}
.container .invite .search {
  border-radius: 5px;
  padding: 10px 10px;
  border: 1px solid #aaa;
}
.container .invite .text {
  margin: 6px 10px;
  font-size: 16px;
  font-weight: 300;
  color: #888888;
}
.container .invite .text .invitee {
  font-size: 16px;
  font-weight: 300;
  color: #225599;
}
.container .recommend .person {
  float: left;
  width: 50%;
  padding: 10px 0px;
}
.container .recommend .person .slug {
  position: relative;
  top: 0px;
  width: 36px;
}
.container .recommend .person .slug .img {
  border-radius: 3px;
}
.container .recommend .person .content {
  position: relative;
  top: -42px;
  margin-left: 54px;
  padding-right: 30px;
}
.container .recommend .person .content .name {
  position: relative;
  font-size: 16px;
  font-weight: 300;
  color: #225599;
}
.container .recommend .person .content .button {
  float: right;
  border: none;
  background: none;
  cursor: pointer;
}
.container .recommend .person .content .button .cancle {
  font-size: 12px;
  font-weight: 800;
  color: #ffffff;
  display: block;
  width: 100%;
  padding: 0px 2px;
  background: #222;
  border: 1px solid #FFF;
  border-radius: 3px;
  line-height: 22px;
}
.container .recommend .person .content .button .invite {
  font-size: 12px;
  font-weight: 800;
  color: #ffffff;
  display: block;
  width: 100%;
  padding: 0px 2px;
  border: 1px solid #FFF;
  border-radius: 3px;
  line-height: 22px;
  background: #259;
}
.container .recommend .person .content .bio {
  position: relative;
  margin: 5px 0px;
  font-size: 16px;
  font-weight: 300;
  color: #333333;
}
.container .clear {
  clear: both;
}
