    <!DOCTYPE html>
    <html>
    	<head>
    		<title>Hello, World</title>
    		<meta charset="utf-8">
        <link rel="stylesheet" href="../styles/style.css">
    	</head>
    	<body>
        <!--<a href="javascript:;" class="weui_btn weui_btn_primary">点击展现searchBar</a>-->
        <div class="weui_search_bar" id="search_bar">
            <form class="weui_search_outer">
                <div class="weui_search_inner">
                    <i class="widget-icon-search"></i>
                    <input type="search" class="weui_search_input" id="search_input" placeholder="搜索" required/>
                    <a href="javascript:" class="widget-icon-clear" id="search_clear"></a>
                </div>
                <label for="search_input" class="weui_search_text" id="search_text">
                    <i class="widget-icon-search"></i>
                    <span>搜索</span>
                </label>
            </form>
            <a href="javascript:" class="weui_search_cancel" id="search_cancel">取消</a>
        </div>
        <div class="weui_cells weui_cells_access search_show" id="search_show">
            <div class="weui_cell">
                <div class="weui_cell_bd weui_cell_primary">
                    <p>实时搜索文本</p>
                </div>
            </div>
            <div class="weui_cell">
                <div class="weui_cell_bd weui_cell_primary">
                    <p>实时搜索文本</p>
                </div>
            </div>
            <div class="weui_cell">
                <div class="weui_cell_bd weui_cell_primary">
                    <p>实时搜索文本</p>
                </div>
            </div>
            <div class="weui_cell">
                <div class="weui_cell_bd weui_cell_primary">
                    <p>实时搜索文本</p>
                </div>
            </div>
        </div>
    		<script type="text/javascript" src="/static/mod.js"></script>
    		<script type="text/javascript">
        		var $ = require('../scripts/main.js');
    		</script>
    	</body>
    </html>
