<link rel="stylesheet" href="../styles/style.css">
<!--checkbox check-->
<label class="widget-checkbox" for="check0">
    <div class="widget-container">
        <input type="checkbox" class="widget-check" name="0-name" id="check0" checked="checked">
        <i class="widget-icon-checked"></i>
    </div>
</label>
<!--checkbox uncheck-->
<label class="widget-checkbox" for="check1">
    <div class="widget-container">
        <input type="checkbox" class="widget-check" name="0-name" id="check1">
        <i class="widget-icon-checked"></i>
    </div>
</label>


<label class="widget-radio" for="x11">
      <div>
          <p>cell standard</p>
      </div>
      <div class="widget-container">
          <input type="radio" class="widget-check" name="radio" id="x11" checked="checked">
          <span class="widget-icon-checked"></span>
      </div>
</label>
<label class="widget-radio" for="x12">
      <div>
          <p>cell standard</p>
      </div>
      <div class="weui_cell_ft">
          <input type="radio" class="widget-check" name="radio" id="x12">
          <span class="widget-icon-checked"></span>
      </div>
</label>
